<ion-header>
</ion-header>

<ion-content>

  <ion-toolbar color="primary">
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col col-10>
          <ion-searchbar color="light" (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
        <ion-col col-2 class="sort-btn">
          <div>
            <ion-icon name="ios-swap" (click)="sort()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-list no-line>
    <ion-item *ngFor="let item of items">
      <ion-card style.background-color="{{item.getCategory().getColor()}}" center>

        <ion-item (click)="onItemClicked(item.getID())">
          <ion-avatar item-start>
            <ion-icon name="{{item.getCategory().getIcon()}}"></ion-icon>
          </ion-avatar>
          <ion-toggle (ionChange)="onChangeActivated(item.getID())" checked="{{item.getIsActivatedNotification()}}"></ion-toggle>
        </ion-item>

        <ion-card-content>
          <ion-grid>

            <ion-row>
              <ion-col text-center>
                <h2 center>{{item.name}}</h2>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p center text-center>
                  {{item.description}}
                </p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p text-left>
                  {{item.getNextDate().format('DD MMM. YYYY')}}
                </p>
              </ion-col>
              <ion-col>
                <p text-right>
                  {{item.getTimeHour()}}:{{ item.getTimeMinutes() | number:'2.0-5'}}
                </p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p>
                  {{item.category.name}}
                </p>
              </ion-col>
              <ion-col>

              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <p>
                  {{item.getRepeteToString()}}
                </p>
              </ion-col>
            </ion-row>

              <ion-row text-center>
                <ion-col>
                  <button  *ngIf="!item.getLocalisation()" (click)="selectLocalisation($event, item.getID())" ion-button >Selectionner un lieux</button>
                  <google-map  *ngIf="item.getLocalisation()"></google-map>
                </ion-col>
              </ion-row>

              <ion-row text-center>
                <ion-col>
                  <button  *ngIf="!item.getPhoto()" ion-button (click)="takePhoto($event, item.getID())">Prendre une photo</button>
                  <img  *ngIf="item.getPhoto()" [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64,' + item.getPhoto())"
                    alt="{{item.getName()}}" />
                </ion-col>
              </ion-row>

          </ion-grid>
        </ion-card-content>

      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab (click)="addTask()" center bottom>
    <button ion-fab color="positive">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
