<!--
  Generated template for the ShowTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>

<ion-content>

  <ion-toolbar color="primary">
    <ion-grid class="no-padding">
      <ion-row>
        <ion-col class="cancel-btn">
          <div>
            <ion-icon color="light" name="ios-close" (click)="cancel()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <div *ngIf="task.category.name == SPORT" class="submit-btn">
    <button (click)="lunchSportActivity()" ion-button color="secondary" round>Faire du Sport</button>
  </div>


  <ion-list no-line>

    <ion-item text-align="center">
      <ion-icon class="category-icon" name="{{task.category.icon}}"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Titre: {{ task.name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Description: {{ task.description }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Date: {{ myDate.format('DD MMM. YYYY') }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Heure: {{ task.timeHour }}h{{ task.timeMinutes }}</ion-label>
    </ion-item>

    <ion-item style.background-color="{{ task.category.color }}">
      <ion-label>Catégorie: {{ task.category.name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Prévenir avant (minutes): {{ task.warningBefore }}</ion-label>
    </ion-item>

  </ion-list>

  <google-map *ngIf="task.localisation" [localisation]="myLocalisation" [isDrag]="false"></google-map>
  <p *ngIf="task.photo"><img [src]="task.photo" [alt]="task.name"></p>



</ion-content>
